extends ../layouts/application.pug

block header
    = t('views.tasks.new')

block content
    div.row
        div.col-sm-6
            +formFor()(action=route('createTask') method='post')
                +input(task, 'name', errors)(type="text")
                +textarea(task, 'description', errors)
                +select(task.statuses, 'statusId', errors)
                +select(task.labels, 'labelId', errors)
                +select(task.users, 'executorId', errors)
                +submit(task)(value=t('views.tasks.create'))
